<h1>Beauty</h1>
<div><%= link_to 'Skincare', checkout_index_path(:name => 'Skincare', :price => @price) %></div>
<div><%= link_to 'Nail Art', checkout_index_path(:name => 'Nail Art', :price => @price) %></div>
<div><%= link_to 'Makeup', checkout_index_path(:name => 'Makeup', :price => @price) %></div>
